*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(#);
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav img{
    width: 150px;
    background-color: rgb(255, 247, 247)255, 255, 255, 0;
    padding-left: 30px;
}
nav{
    padding: 20px;
    padding-right: 100px;
}
ul{
    float:right ;
    padding-top: 9px;
    
}
ul li{
    display: inline;
    padding-right: 50px;
}
li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s;

}
li a:hover{
    color: coral;
    box-shadow: 2px 2px 50px lightblue;
    font-size: large;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div img{
    width:400px;
    height:300px;
    border:2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #000000;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;

}

div img:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}
