*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(#);
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav img{
    width: 150px;
    background-color: rgba(248, 248, 248, 0)255, 255, 255, 0;
    padding-left: 30px;
}
nav{
    padding: 20px;
    padding-right: 100px;
}
ul{
    float:right ;
    padding-top: 9px;
    
}
ul li{
    display: inline;
    padding-right: 50px;
}
li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s;

}
li a:hover{
    color: coral;
    box-shadow: 2px 2px 50px lightblue;
    font-size: large;
}
