*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(#);
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav img{
    width: 150px;
    background-color: white;
    padding-left: 30px;
}
nav{
    padding: 20px;
    padding-right: 250px;
}
ul{
    float:right ;
    padding-top: 9px;
    
}
ul li{
    display: inline;
    padding-right: 70px;
}
li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s;

}
li a:hover{
    color: coral;
    box-shadow: 2px 2px 50px lightblue;
    font-size: large;
}
.aside{
    background-color: aqua;
    height: 634px;
    width: 170px;
    float: right;
    margin-top: -84px;
    border: 2px  solid black;
    position:fixed;
    margin-left: 1174px;
    overflow: hidden;


}
.horizontal{
    width: 60%;
    height: 500px;
    background-image: url(images/elephant-1822636_1280.jpg);
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 10px;
    animation: changeimage 20s linear infinite;
}
@keyframes changeimage {
    0%{
        background-image: url(images/elephant-1822636_1280.jpg);
    }
    25%{
        background-image: url(images/tigers-591359_640.jpg);
    }
    50%{
        background-image: url(images/african-lion-2888519_640.jpg);
    }
    75%{
        background-image: url(images/sea-2361247_640.jpg)
    }
    100%{
        background-image: url(images/tigers-591359_640.jpg);
    }
}